// Colors of webpage
$color-forest:#C8FFC7;
$color-forest-secondary:#C9FFC7;

$color-blood:#EC1C24;

$color-dark:#22252C;
$color-dark-secondary:#181C1F;

$color-gray:#3B4046;

$color-white-primary:#FFFFFF;
$color-white-secondary:#FFFFFF80;
$color-white-third:#FFFFFFB3;

$color-pinky:#FFBC7E;
$color-goldy:#FFE249;