.tarifff {
    color: $color-white-primary;
    box-sizing: border-box;
    background-color: $color-gray;
    padding: 3rem;
    border-radius: 0.6rem;
    .tariff {
      &__heading {
        @include flexbox;
        margin: 0 0 6rem;
        &__title {
          font-size: 2.4rem;
          color: $color-forest;
        }
        &__tab {
          button {
            background-color: $color-gray;
            border: 0.06rem solid $color-white-primary;
            box-sizing: border-box;
            padding: 1rem;
            border-radius: 0.6rem;
            color: $color-white-primary;
            &.activee {
              background-color: $color-dark;
              border-color: transparent;
            }

            img {
            }
            span {
              position: relative;
              bottom: 0.6rem;
              left: 0.3rem;
            }
          }
        }
      }
      &__info {
        @include flexbox;
        border: 0.1rem solid $color-white-primary;
        margin-bottom: 0.6rem;
        padding: 1rem;
        border-radius: 0.6rem;
        &:hover {
          border-color: $color-forest;
        }
        &:hover i{
          color: $color-forest;
        }
        &__head {
          @include flexbox;
          i {
            margin-right: 0.6rem;
            background-color: #22252C;
    transition: all 0.3s ease 0s;
    width: min-content;
    padding: 17px;
    border-radius: 8px;
    display: inline-block;
          }
          h5 {
          }
        }
        &__category {
          @include flexbox;
          .tariff-price {
            &:not(:last-child) {
              margin-right: 6rem;
            }
            .tariff-name {
              margin-bottom: 0.7rem;
              color: $color-forest;
            }
            .tariff-value {
              margin-bottom: 0.7rem;
            }
          }
        }
      }
    }
  }