
.wrapper{
  width: 100%;
  .carousel{
    // max-width: 1200px;
    padding: 0px 30px;
    margin: auto;
    background: url('../images/Vector-slider.svg');
    background-position: 4rem -4rem;
    background-repeat: no-repeat;
    background-size: 26rem;
    .card{
      height: 550px;
      text-align: center;
      margin: 10px 0px;
      color: white;
      font-weight: 700;
      font-size: 20px;
      background-color: rgba(153, 129, 129, 0.39);
      opacity: 0.6;
      .info{
        width: 100%;
        height: 100%;
        text-align: left;
      }
      .image{
        width: 100%;
        height: 100%;
      }
    }
  }
}


.owl-dots{
  text-align: center;
  margin-top: 1rem;
}
.owl-dot{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: gray !important;
  margin: 0 5px;
  transition: all .6s ease-in-out;
}
.owl-dot.active{
  height: 1rem;
  width: 2.5rem;
  border-radius: 0.6rem;
  background-color: green !important;
}

// main

.logo {
  padding: 5rem 0 0 0;
  &__header {
    @include flexbox;
    h1 {
      color: $color-forest;
      font-size: 2.4rem;
    }
  }

  &__carousel {
    width: 100%;
    &__cell {
      width: 200px;
      height: 200px;
      border: 1px solid black;
      border-radius: 6%;
      margin: 3rem 1rem;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 1rem;
      img {
        width: 100%;
        height: 60%;
      }
    }
  }
}


//***//
.news {
  background-color: $color-gray;
  border-radius: 0.6rem;
  &__inner {
    @include flexbox(flex, space-between, flex-start);
    box-sizing: border-box;
    padding: 6rem 6rem;
    background: url('https://velocity.az/front/img/vector/Vector-news.svg');
    background-repeat: no-repeat;
    &__left {
      &__heading {
        margin: 0 0 5.76rem 0;
        h2 {
          color: $color-forest;
          font-size: 2.4rem;
          line-height: 3.36rem;
          font-weight: 700;
          margin: 0 0 0.48rem 0;
        }
        p {
          color: $color-white-secondary;
        }
      }
      a {
        text-decoration: none;
      }
    }
    &__card {
      &__stretch {
        display: flex;
        margin: 0 0 1.92rem 0;
        img {
        }
        &__info {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 24px 0;
          margin-left: 32px;
          flex: 1 1 auto;
          position: relative;
          cursor:pointer;
          &::after {
            content: "";
            position: absolute;
            bottom: -16px;
            right: -2rem;
            height: 1px;
            width: 26rem;
            background-color: rgba(255, 255, 255, 0.2);
          }

          h5 {
            color: $color-white-primary;
            line-height: 1.6rem;
            &:hover{
              color: $color-forest;
            }
          }
          p {
            color: $color-white-secondary;
          }
          a {
            color: $color-forest;
            text-decoration: none;
            line-height: 1.6rem;
          }
        }
      }
    }
  }
}
