.innovations {
  &__title {
    margin: 0 0 6rem;
    h2 {
      font-size: 40px;
      color: $color-forest;
      margin: 0 0 1.6rem;
    }
    p {
      font-size: 19px;
      color: $color-white-secondary;
      line-height: 2rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 87px;
        background-color: $color-forest;
      }
    }
  }
  &__tabs {
    @include flexbox(flex, center);
    padding: 2rem 0rem 2rem;

    ul {
      border: 0.06rem solid $color-white-primary;
      border-radius: 0.6rem;
      padding: 0.7rem 0rem;
      box-sizing: border-box;
      a {
        text-decoration: none;
        font-size: 22px;
        padding: 0.5rem 3rem;
        box-sizing: border-box;
        color: $color-white-primary;
        transition: all 0.6s ease-in-out;
        &:hover {
          color: $color-forest;
        }
        &.activee {
          background-color: $color-gray;
          color: $color-forest;
          border-radius: 0.6rem;
        }
      }
    }
  }
  &__cards {
  
    &__item {
      &:hover{
        border: 0.09rem solid $color-forest;
      }
      @include flexbox(flex, flex-start);
      width: 100%;
      background-color: $color-gray;
      border-radius: 0.6rem;
      box-sizing: border-box;
      padding: 1.5rem;
      margin: 0 0 1rem 0;
      border-color: transparent;
      transition: all 0.6s ease-in-out;
      img {
        margin: 0rem 2.6rem 0rem 0rem;
      }

      &__body {
        a {
          text-decoration: none;
          h5 {
            color: $color-white-primary;
            transition: all 0.6s ease-in-out;
            &:hover {
              color: $color-forest;
            }
          }
        }
        p {
          margin: 0.6rem 0 2rem 0;
          color: $color-white-secondary;
        }
        a {
          text-decoration: none;
          color: $color-forest;
        }
      }
    }
  }
}

@media only screen and (max-width:600px){
.innovations{
  &__tabs{
    ul{
      box-sizing: border-box;
      padding: 0.5rem 0rem;
      a{
        font-size: 0.55rem;
        padding: 0.6rem 3rem;
      }
    }
  }
  &__cards{
    &__item{
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: $color-gray;
      border-radius: 0.6rem;
      box-sizing: border-box;
      padding: 1.5rem;
      margin: 0 0 1rem 0;
      border-color: transparent;
      transition: all 0.6s ease-in-out;
      img{
        width: 100%;
        margin: 0rem 0rem 1rem 0rem;
      }
      &_body{
        display: flex;
        flex-direction: column;
        margin-right: auto;
      }
    }
  }
}
}