.header {
  font-family: "Yolk";
  height: 56px;
  background-color: $color-gray;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &__top {
    .container {
    }
    &-inner {
      @include flexbox;
      padding-top: 0.5rem;
      &__left {
        width: 33%;
        a {
          margin-right: 1rem;
          text-decoration: none;
          color: $color-white-third;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $color-white-primary;
          }
          span {
          }
        }
      }
      &__right {
        @include flexbox;
        width: 43%;
        .currency {
          color: $color-white-third;
          transition: all 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
            color: $color-white-primary;
          }
        }
        .language {
          color: $color-white-third;
          transition: all 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
            color: $color-white-primary;
          }
        }
        .phone {
          text-decoration: none;
          color: $color-white-third;
          transition: all 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
            color: $color-white-primary;
          }
        }
      }
    }
  }
  &__bottom {
    @include flexbox;
    .navbar {
      width: 71%;
      &__info {
        li {
          display: inline-block;
          margin: 0px 17px;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: $color-white-primary;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $color-forest;
            }
          }
        }
      }
    }
    &__actions {
      a {
        text-decoration: none;
        font-size: 1.2rem;
        color: $color-white-primary;
        i {
          font-size: 2rem;
        }
        .cart-account {
          position: relative;
          top: -0.3rem;
        }
        .zero {
          background-color: $color-blood;
          position: absolute;
          top: -19px;
          right: -15px;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          text-align: center;
          width: 70%;
          border-radius: 50%;
          padding: 4px;
        }
      }
    }
  }
}

.mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header {
    display: none;
  }
  .mobile {
    display: block;
    height: 16%;
    width: 100%;
    background-color: $color-dark;
    font-size: 2rem;
    @include flexbox(flex, space-between);
    .logo {
      display: contents;
    }
    a {
      text-decoration: none;
    }
    
    .side__menu{
      z-index: 6;
      font-family: 'Yolk';
      position: fixed;
      top: 0px;
      height: 100%;
      width: 26rem;
      background-color: $color-dark;
      color: $color-white-primary;
      font-size: 1rem;
      text-transform: uppercase;
      transform: translateX(-100%);
      transition: all 1s ease-in-out;
      &__head {
        @include flexbox(flex,flex-end);
        a {
          margin: 0 6rem 0 0;
          img {
          }
        }
        i {
          font-size: xx-large;
        }
      }
      &__body {
        li {
          a {
            display: inline-block;
            font-size: 1.4rem;
            line-height: 1.68rem;
            font-weight: 600;
            padding: 1rem 1.5rem;
            background-color: $color-gray;
            color: $color-white-primary;
            width: 90%;
            border-radius: 0.6rem;
            margin: 0.3rem;
          }
        }
      }
      &__foot {
        @include flexbox(flex,space-between,baseline);
        &__languages {
          a {
            color: $color-white-primary;
            padding: 1rem 0.66rem;
            border: 0.06rem solid $color-forest;
            border-radius: 0.6rem;
            margin: 0 0.4rem 0 0;
          }
        }
        &__phone {
          a {
            i {
              
            }
            span {
              color: $color-white-primary;
            }
          }
        }
      }
    }
    
  }
}
